{
  "presets": [
    "es2015",
    "es2017",
    "react"
  ],
  "plugins": [
    [
      "import",
      [
        {
          "libraryName": "antd",
          "libraryDirectory": "lib",
          "style": false
        },
        {
          "libraryName": "lodash",
          "camel2DashComponentName": false,
          "libraryDirectory": ""
        }
      ]
    ],
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}