:global {
  .ant-dropdown {
    background: #fff;
    min-width: 170px;
    border-radius: 3px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.1);
  }
  .ant-dropdown-menu {
    padding: 10px 10px !important;
    border: 1px solid #eee;
    box-shadow: none !important;
  }
  .ant-dropdown-menu-item-divider,
  .ant-dropdown-menu-submenu-title-divider {
    margin: 10px 17px;
    background-color: #ececec !important;
  }
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 3px 17px !important;
    a {
      font-size: 1rem;
      font-weight: 500;
      color: #6e6e6e !important;
    }
    &:hover {
      background: transparent !important;
      > a {
        color: #000 !important;
      }
    }
    &-disabled {
      opacity: .5;
      &:hover {
        > a {
          color: #676767;
        }
      }
    }
  }
}