@import "sidebar";

.artist {
  height: 100%;
  position: relative;
}

.background {
  position: fixed;
  z-index: 1;
  top: -25px;
  bottom: -25px;
  right: -30px;
  left: $sidebar-width;
  background-size: cover;
  background-position: 50% 50%;
  filter: grayscale(100%);
  &:before {
    content: " ";
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  }
  //:local {
  //  animation: background 120s infinite linear;
  //  @keyframes background {
  //    0% {
  //      background-position: 50% 50%;
  //    }
  //    25% {
  //      background-position: 100% 100%;
  //    }
  //    50% {
  //      background-position: 50% 50%;
  //    }
  //    75% {
  //      background-position: 0% 0%;
  //    }
  //    100% {
  //      background-position: 50% 50%;
  //    }
  //  }
  //}
}

.background-overlay {
  position: fixed;
  z-index: 2;
  top: -25px;
  bottom: -25px;
  right: -30px;
  left: $sidebar-width;
  opacity: .5;

  //@source http://www.heropatterns.com/
  background: rgba(0, 0, 0, 1) url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.content {
  position: relative;
  z-index: 3;
}

.header {
  padding-left: 90px;
  padding-top: 70px;
  color: #fff;
}

.followers-count {
  text-transform: uppercase;
  font-weight: 700;
}

.artist-name {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}

.follow-button {
  border-radius: 16px;
  padding: 0 41px;
  height: 37px;
  font-weight: 300;
  text-transform: uppercase;
}

.more-button {
  position: relative;
  top: 9px;
  margin-top: -15px;
  margin-left: 30px;
  display: inline-block;
  i {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
  }
}

.similar-artists {
  margin-top: 30px;
  h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
  }
  span,
  a {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-size: 1rem;
    border-bottom: 1px solid #ffffff80;
    text-transform: capitalize;
  }
}

.section-title {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.show-more {
  color: #fff;
  border: 0;
  box-shadow: none;
  font-size: 1.5rem;
  margin-top: -5px;
  cursor: pointer;
}

.load-more {
  text-align: center;
  margin-bottom: 30px;
}

.album-container {
  padding: 0 90px;
}

.album {
  display: block;
  padding: 6px;
}

.album-image-container {
  position: relative;
  $position: 6px;
  $hover-position: 10px;
  &:before {
    content: " ";
    position: absolute;
    top: $position;
    bottom: $position;
    left: $position;
    right: $position;
    border: 1px solid #fff;
    opacity: .5;
    transition: all 200ms;
  }
  &:hover {
    &:before {
      top: $hover-position;
      left: $hover-position;
      right: $hover-position;
      bottom: $hover-position;
    }
  }
}

.album-image {
  border-radius: 2px;
  padding: 2px;
}

.album-name {
  color: #fff;
  margin-top: 2px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}