html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: 0;
  }

  &:hover {
    color: #01c74f;
  }
}

img {
  max-width: 100%;
}

:global {
  html,
  body,
  #app,
  #app > div {
    min-height: 100%;
    height: 100%;
  }
  #app {
    padding-left: 220px;
  }
}

.content {
  padding: 25px 30px;
  height: 100%;
}

@import "ant-styles";