.sidebar {
  background: #222326;
  width: 220px;
  position: fixed;
  min-height: 100%;
  max-height: 100%;
  padding: 30px 0 20px;
  color: #8F9194;
  overflow: auto;
}

.heading {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
  color: #9c9c9c;
  padding-left: 18px;
  margin-bottom: 10px;
}

.list {
  padding: 0;
  margin: 0 0 60px;
  font-size: 1rem;
  list-style: none;
}

.list-item {
  color: #c7cace;
  padding: 8px 0 8px 18px;
  margin-top: 8px;
  transition: background-color 200ms;
  display: block;
}

.list-item:hover,
.list-item.active {
  background: #28292C;
  padding-left: 14px;
  border-left: 4px solid #00D95A;
}

.list-icon {
  font-size: 1.5rem;
  margin-right: 15px;
}

.add-icon {
  float: right;
  margin-right: 12px;
  background-color: #ABB4BF;
  color: #212225;
  padding: 0 2px;
  height: 15px;
  border-radius: 3px;
  font-size: 13px;
}

.add-icon svg {
  font-size: 17px;
  margin-top: -4px;
}

.playlist {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow: auto;
}

.playlist-item a {
  font-size: 1rem;
  color: #7E8082;
  padding: 7px 5px 7px 20px;
  display: block;
  transition: color 150ms;
}

.playlist-item a:hover {
  color: lighten(#7E8082, 25%);
}

.current-user {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.current-user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  border: 2px solid #00D95A;
}

.current-user-name {
  font-size: .9rem;
}

.current-user-divider {
  width: 1px;
  height: 14px;
  display: inline-block;
  background: #4b4e54;
  position: relative;
  top: 4px;
  margin: 0 7px;
}

.current-user-actions-button {
  font-size: 19px;
}